header {
  background-color: transparent;
  height: 15vh;
  width: 100%;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 0;

  .headerLeft {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 130px;
      filter: contrast(1.5);
      cursor: pointer;
    }

    p {
      color: white;
      cursor: pointer;
      margin-left: 20px;
    }
  }

  .headerRight {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .btnSearch {
      cursor: pointer;
    }

    input {
      color: white;
    }
    
    .btnSearchIcon{
      width: 60%;
    }

    .btnCart {
      cursor: pointer;
      margin-left: 30px;
    }

    .btnAdmin {
      color: white;
      cursor: pointer;
      margin-left: 30px;
    }
    
    .btnUser {
      color: white;
      cursor: pointer;
      margin-left: 30px;
    }

    .btnLogin {
      background-color: #e50914;
      color: white;
      width: 120px;
      border-radius: 4px;
      text-align: center;
      padding: 8px 8px;
      cursor: pointer;
      margin-left: 30px;
    }
  }
}
