.infoMovie {
    background-color: black;
    width: 100%;
    height: fit-content;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 0 30px;
  
    .divBtnCerrar {
      width: 97%;
      display: flex;
      justify-content: flex-end;
      position: absolute;
  
      .btnCerrar {
        width: 50px;
        height: 50px;
      }
    }
  
    .info {
      padding: 30px 30px 30px 0;
      text-align: justify;

      .btnWantIt {
        background-color: #e50914;
        color: white;
        width: 120px;
        border-radius: 4px;
        text-align: center;
        padding: 8px 8px;
        cursor: pointer;
      }
    }
  }