<div class="infoMovie">
  <div class="divBtnCerrar" (click)="closeDetails()">
    <img src="../../../assets/img/cerrar.png" class="btnCerrar" alt="Cerrar"></div>
  <div class="info">
    <h2>{{infoMovie.title}}</h2>
    <div>{{infoMovie.release_date | date:"yyyy"}} {{time_convert(infoMovie.runtime)}}</div>
    <div>{{infoMovie.overview}}</div>

    <div>
      <h4>Protagonistas:</h4>
      <span *ngFor="let actor of infoMovie.credits.cast; let i=index">
        <span *ngIf="i<5">{{actor.name}}<span *ngIf="i<4">, </span>
        </span>
      </span>
    </div>

    <div>
      <h4>Géneros:</h4>
      <span *ngFor="let genre of infoMovie.genres; let i=index">
        <span>{{genre.name}}<span *ngIf="infoMovie.genres.length-1>i">, </span></span>
      </span>
    </div>

    <p class="btnWantIt" (click)="addCart(infoMovie)">La quiero ya!</p>
  </div>
  <div class="trailer">
  </div>
  <div class="trailer-container">
    <iframe width="711" height="400" [src]="sanitizer.bypassSecurityTrustResourceUrl(this.showTrailerDetails)"
      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>