<div class="container">
    <div class="ac" *ngIf="!moviesByActor">
        <h2 *ngIf="actors?.length>0">Actores</h2>
        <h4 *ngIf="actors?.length==0">No se han encontrado actores.</h4>
        <div class="actors">
            <div class="actor" (click)="getMoviesByActorId(actor.id)" *ngFor="let actor of actors">
                <img src="http://image.tmdb.org/t/p/w45/{{actor.profile_path}}" *ngIf="actor.profile_path" />
                <img src="https://upload.wikimedia.org/wikipedia/en/6/60/No_Picture.jpg" class="noPic"
                    *ngIf="!actor.profile_path" />
                <div class="act">{{actor.name}}</div>
            </div>
        </div>
    </div>
    <div class="mov">
        <h2 *ngIf="movies?.length>0">Peliculas</h2>
        <h4 *ngIf="movies?.length==0">No se han encontrado peliculas.</h4>
        <div class="divMovies">
            <div class="wrapper">
                <section id="section1">
                    <!-- <a class="arrow__btn" (click)="previousPage()" [style.display]="!this.hasPreviousPage?'none':'block'">‹</a> -->
                    <div class="item" *ngFor="let movie of movies">
                        <span class="card-title" (click)="getMovieById(movie.id)">{{movie.title}}</span>
                        <img src="http://image.tmdb.org/t/p/w300/{{movie.backdrop_path}}" />
                    </div>
                    <!-- <a class="arrow__btn" (click)="nextPage()" [style.display]="!this.hasNextPage?'none':'block'">›</a> -->
                </section>
            </div>
        </div>
    </div>
</div>