h3 {
    background-color: transparent;
    z-index: 99999;
    position: absolute;
    float: left;
    color: white;
    margin: 0 0 0 25px;
    font-weight: 500;
  }

  .divMovies {
    display: flex;
    flex-direction: row;
    margin: 20px 0;        

    $itemGrow: 1.2;
    $duration: 250ms;

    .wrapper {
      display: grid;
      grid-template-columns: repeat(3, 100%);
      overflow: hidden;
      scroll-behavior: smooth;
      margin-left: 25px;

      section {
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns: repeat(5, auto);
        margin: 20px 0;

        .item {
          padding: 0 2px;
          transition: $duration all;

          .card-title {
            position: absolute;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
            color: white;
            height: 150px;
            width: 250px;
            padding: 2px 5px;
            white-space: normal;
            overflow: hidden;
          }

          img {
            width: 250px;
            height: 140px
          }

          &:hover {
            margin: 0 40px;
            transform: scale(1.2);
          }

        }

        a {
          position: absolute;
          color: #fff;
          text-decoration: none;
          font-size: 6em;
          background: rgb(0, 0, 0);
          width: 80px;
          padding: 20px;
          text-align: center;
          z-index: 1;
          cursor: pointer;

          &:nth-of-type(1) {
            top: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
          }

          &:nth-of-type(2) {
            top: 0;
            bottom: 0;
            right: 0;
            background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
          }
        }
      }
    }
  }

  .infoMovie {
    background-color: black;
    width: 100%;
    height: fit-content;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 0 30px;

    .divBtnCerrar {
      width: 97%;
      display: flex;
      justify-content: flex-end;
      position: absolute;

      .btnCerrar {
        width: 50px;
        height: 50px;
      }
    }

    .info {
      padding-top: 30px;

      .btnWantIt {
        background-color: #e50914;
        color: white;
        width: 120px;
        border-radius: 4px;
        text-align: center;
        padding: 8px 8px;
        cursor: pointer;
      }
    }
  }