<div class="background">
    <header></header>
    <main>
        <h1>Todas las películas que desees en la comodidad de tu hogar.</h1>
        <h2>Disfruta donde y cuando quieras.</h2>
        <div class="inputButton"><input type="text" placeholder="Correo electrónico">
            <a class="btnTryNow" routerLink="/register">PROBAR AHORA</a>
        </div>
        <h3>¿Quieres ver algo ya? Escribe tu correo para crear una cuenta de Classic Netflex o acceder a ella.</h3>
        <p class="btnGuest" routerLink="/movies">Entrar como invitado</p> 
    </main>
</div>