<div class="header"></div>
<div class="background">
    <div class="container">
        <mat-horizontal-stepper [linear]="!isLinear" #stepper *ngIf="movie">
            <mat-step>
                <ng-template matStepLabel>Película</ng-template>
                <div class="infoMovie">
                    <div class="info">
                        <h1>{{movie.title}}</h1>
                        <div>{{movie.release_date | date:"yyyy"}} {{time_convert(movie.runtime)}}</div>
                        <div>{{movie.overview}}</div><br>
                        <div>Protagonistas: {{movie.credits.cast[0].name}}</div>
                        <div>Géneros: {{movie.genres[0].name}}
                        </div>
                    </div>
                    <div class="poster">
                        <div class="divBtnCerrar" (click)="closeDetails()">
                            <img src="../../../assets/img/cerrar.png" class="btnCerrar" alt="Cerrar"></div>
                        <img src="http://image.tmdb.org/t/p/w185/{{movie.poster_path}}" class="poster">

                    </div>
                </div>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Dirección de envío</ng-template>
                <mat-card>
                    <mat-card-title>Ingrese la dirección donde recibirá el pedido</mat-card-title>
                    <mat-card-content>
                        <form [formGroup]="form" (ngSubmit)="submit()">
                            <mat-form-field>
                                <input matInput placeholder="Street" formControlName="street" required>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="City" formControlName="city" required>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="State" formControlName="state" required>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Zip" formControlName="zip" required>
                            </mat-form-field>
                        </form>
                    </mat-card-content>
                </mat-card>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>Desea confirmar el pedido?</p>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="insertOrder()">Confirmar</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>