<div class="header"><app-header></app-header></div>
<div class="background">
    <div class="container">
        <div class="profile">
            <h1>Cuenta</h1>
            <hr>
            <h3>Datos Personales</h3>
            <div class="col">
                <p>Nombre: {{userService['user']['name']}}</p>
            </div>
            <div class="col">
                <p>Apellido: {{userService['user']['surname']}}</p>
            </div>
            <div class="col">
                <p>Email: {{userService['user']['email']}}</p>
                <p>Cambiar email de la cuenta</p>
            </div>
            <div class="col">
                <p>Contraseña: ********</p>
                <p>Cambiar Contraseña</p>
            </div>
        </div>
        <hr>
        <div class="order">
            <h3>Pedidos</h3>
            <p *ngIf="this.allOrders?.length==0">Aún no se han registrado pedidos.</p>
            <div class="cards">
            <mat-card class="home-card" *ngFor="let order of this.moviesOrders">
                <mat-card-content class="home-card-content">
                    <img mat-card-image src="http://image.tmdb.org/t/p/w300/{{order.Movie.image}}" />
                  <div>
                    <h3>{{order.Movie.title}}</h3><br>
                    <div>Fecha del pedido: {{order.date | date:"dd/MM/yyyy"}}</div><br>
                    <div>Estado del pedido: {{order.status}}</div>
                  </div>
                </mat-card-content>
            </mat-card>
        </div>
        </div>
        <hr>
    </div>
</div>