.background {
  background: #f3f3f3;
  color: #333;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  
  .container{
      margin-top: 30px;
      width: 50%;

      h1, h3, p {
          margin: 5px 0;
      }

      .col {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
      }
  }
}
