<h1 *ngIf="(this.movieService.genre| async) as genre">Títulos en: {{genre['name']}}</h1>
<div class="divMovies" *ngIf="this.movieService.genre">
    <div class="wrapper">
        <section id="section1">
            <div class="item" *ngFor="let movie of allMovies">
                <span class="card-title" (click)="getMovieById(movie.id)">{{movie.title}}</span>
                <img src="http://image.tmdb.org/t/p/w300/{{movie.backdrop_path}}" />
            </div>
        </section>
    </div>
</div>
<app-movie-details *ngIf="this.movieService.movieIdDetails.value['movie']>0 && this.movieService.movieIdDetails.value['component']=='genre'"></app-movie-details>
