.background {
  background-color: rgba(14, 14, 14);
  height: fit-content;
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;

  main {
    min-height: 100vh;
    height: fit-content;

    .movies-container {
      padding-top: 91vh;
      z-index: 99999;
      background-color: rgba(14, 14, 14);
    }
  }
}