<div class="background">
  <main>
    <app-big-trailer *ngIf="this.movieService.showBigTrailer"></app-big-trailer>
    <div class="movies-container" *ngIf="this.movieService.showPopularMovies">
      <app-popular-movies *ngIf="this.movieService.showPopularMovies"></app-popular-movies>
      <app-orders-movies *ngIf="(this.movieService.showOrderMovies && this.userService['user']['name'])"></app-orders-movies>
    </div>
    <div class="genreMovies">
      <app-genre-movies *ngIf="this.movieService.showGenreMovies"></app-genre-movies>
    </div>
    <div class="searchMovies">
      <app-search-movies-actors *ngIf="this.movieService.showSearchResults"></app-search-movies-actors>
    </div>
  </main>
</div>