.video-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -15vh;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc((100vw*9) /16);
    }
  }